<div class="container">
  <div class="row">
    <br />
    <br />
    <br />
    <br />
    <div class="card">
      <h1>Wish List</h1>
      <br />
      <form>
        <div class="input-group mb-3">
          <input type="text" class="form-control" />
          <div class="input-group-append">
            <div class="btn btn-outline-success" (click)="createNewWish()">
              Create
            </div>
          </div>
        </div>
      </form>
      <ul>
        <li>Wish 1</li>
        <li>Wish 2</li>
      </ul>
    </div>
  </div>
</div>
